.wrap {
  background: $main-bg;
}
.item-bg {
  background-color: $item-bg;
}
.revenue-color {
  color: $revenue-color;
}
.cost-color {
  color: $cost-color;
}
.income-color {
  color: $income-color;
}

.header {
  background-color: $admin-bg;
}
.overview {
  .dropdown-toggle {
    background-color: transparent;
    outline: none;
    box-shadow: none;
  }
  .overview-item {
    padding-left: 0;
    li {
      list-style-type: none;
    }
  }
}

.transaction {
  ul {
    padding-left: 0;
    li {
      padding: 15px 0;
      list-style-type: none;
      border-bottom: 1px solid #EBEBEB;
    }
  }
  .icon-web {
    vertical-align: middle;
    font-size: 40px;
  }
}