.wrap {
  background: $main-bg;
}
.item-bg {
  background-color: $item-bg;
}
.revenue-color {
  color: $revenue-color;
}
.cost-color {
  color: $cost-color;
}
.income-color {
  color: $income-color;
}
.plus-color {
  color: $plus-color;
}
.minus-color {
  color: $minus-color;
}

.header {
  background-color: $admin-bg;
}
.overview {
  .dropdown-toggle {
    background-color: transparent;
    outline: none;
    box-shadow: none;
  }
}

.transaction {
  li {
    // padding: 15px 0;
    border-bottom: 1px solid #EBEBEB;
  }
  .icon-web {
    vertical-align: middle;
    font-size: 40px;
  }
}

.activity {
  max-width: 1140px;
  margin: 0 auto;
}